ul{
    overflow: hidden;
    padding: 20px 10px;

}
ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    color: black;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
}
.container-fluid{
    width: 100%;
    background-color: burlywood;
}
.navbar{
    width: 100%;
    background-color: burlywood;
}